# Andy Spencer 2009-2012 - Public domain

AddHandler cgi-script .cgi
Options +ExecCGI

RewriteEngine on

RewriteCond %{HTTP_HOST} www\.afro\.ninja/p
RewriteRule ^(.*)$ http://afro.ninja/p/$1 [R,L]

RewriteCond %{HTTP_HOST} (.+)\.afro\.ninja/p
RewriteRule ^(.+)$ http://afro.ninja/p/$1 [R,L]

RewriteCond %{HTTP_HOST} (.+)\.afro\.ninja/p
RewriteRule ^(.*)$ http://afro.ninja/p/?ft=%1 [R,L]

RewriteRule ^.*$ "index.cgi"
